// Primary
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
$ScissorsGradient: hsl(39, 89%, 49%);
$PaperGradient: hsl(230, 89%, 62%)  ; 
$RockGradient: hsl(349, 71%, 52%);
$LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%) ;

//Neutral
 $DarkText: hsl(229, 25%, 31%);
 $ScoreText: hsl(229, 64%, 46%) ;
 $HeaderOutline: hsl(217, 16%, 45%);

 $RadialGradient: hsl(214, 47%, 23%) 